/* app/components/work/ProjectCard.module.css */
.card {
    transition: all 0.7s ease;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* aspect-ratio: 6/9; */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card:hover .image {
    transform: scale(1.05);
}

.loaded {
    transform: translateY(0);
    opacity: 1;
}

.loading {
    transform: translateY(3rem);
    opacity: 0;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}

.image {
    position: relative;
    inset: 0;
}

.imageImg {
    object-fit: cover;
    position: relative !important;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom right, rgba(37, 99, 235, 0.2), rgba(167, 139, 250, 0.2));
    transition: all 0.5s ease;
    opacity: 0.5;
    z-index: 10;
}

.link:hover .overlay {
    opacity: 0.8;
}

.hoverOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 20;
}

.link:hover .hoverOverlay {
    opacity: 1;
}

.viewButton {
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    background-color: var(--marooned);
    color: var(--tidy-whitey);
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-family: 'Tektur';
    transition: all 0.3s ease-out
}

.viewButton:hover {
    background-color: var(--tidy-whitey);
    color: var(--marooned);
}

.info {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    color: var(--dark-blue);
    z-index: 10;
}

.tags {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
    flex-wrap: wrap;
}

.tag {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    background-color: var(--dark-blue);
    color: var(--tidy-whitey);
    border-radius: 9999px;
    font-size: 0.75rem;
}

.moreTagsBadge {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    background-color: rgba(55, 65, 81, 0.7);
    border-radius: 9999px;
    font-size: 0.75rem;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.description {
    color: var(--grayed);
    font-size: 0.875rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}