/* app/page.module.css */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* This ensures that each section is properly spaced */
.container>section {
  width: 100%;
  padding: 4rem 0;
}

/* Add a bit of space to handle the fixed header */
.container>section:first-child {
  padding-top: 5rem;
}

@media (min-width: 768px) {
  .container>section {
    padding: 5rem 0;
  }

  .container>section:first-child {
    padding-top: 6rem;
  }
}